.containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  width: 100%;
}

.foto {
  width: 1120px;        /* largura fixa */
  height: 510px;        /* altura exata */
  border-radius: 30px;  /* bordas arredondadas */
  object-fit: cover;    /* garante que a imagem preencha sem distorcer */
  opacity: 1;
}
.paragrafo {
  max-width: 1100px;
  margin: 60px auto;
  color: #0B5C00;
  font-size: 1.5625rem;
  line-height: 200%;
  text-align: justify;
  padding: 0 20px;
}

.paragrafoUm,
.paragrafoDois,
.paragrafoTres {
  margin-bottom: 20px;
}

/* ========== FOTOS E NOMES ========== */
.fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: 60px auto 100px auto;
  max-width: 1000px;
}

.membro {
  text-align: center;
}

.membro p {
  margin-top: 12px;
  font-weight: 600;
  color: #333;
  font-size: 1.1rem;
}

.membro img {
  width: 300px;
  height: 300px;
  object-fit: cover;
 

}

.membro img:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

/* ========== RESPONSIVIDADE ========== */
@media (max-width: 1000px) {
  .membro img {
    width: 230px;
    height: 230px;
  }
}

@media (max-width: 700px) {
  .membro img {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 500px) {
  .membro img {
    width: 140px;
    height: 140px;
  }

  .membro p {
    font-size: 1rem;
  }
}
