.navbar {
  width: 100%;
  overflow: hidden;
}

.faixaAmarela {
  background-color: #ffcc00;
  height: 45px;
  width: 100%;
}

.banner {
  background: linear-gradient(#0B5C00, #419C35);
  height: 260px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
  position: relative;
}

/* LOGO CENTRAL */
.Logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
}

.subtitulo {
  margin-top: 5px;
  color: #ffcc00;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
}

/* SETA DE VOLTAR (ESQUERDA) */
.setaVoltar{
  position: absolute;
  left: 20px;
  top: 15px;
}

/* MENU HAMBURGUER (DIREITA) */
.menuHamburguer {
  position: absolute;
  right: 20px;
  top: 15px;
}
